* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

/* player image  */

.spaceShip {
  background-image: url('http://clipart-library.com/images/kcKboL5cj.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Rocket Image */

.rocket {
  background-image: url('https://www.pinclipart.com/picdir/middle/62-625813_missile-clipart-transparent-space-invaders-missile-png.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Alien Image */

.alien {
  background-image: url('https://cdn.imgbin.com/5/7/6/imgbin-space-invaders-extreme-2-video-games-space-invaders-yRdC4SVjNzxXue92Zg3GyZD0J.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}