* {
  box-sizing: border-box;
  font-family: 'Tilt Prism', cursive;
  font-weight: bold;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.game {
  display: grid;
  justify-items: center;
  align-items: center;
}

.game > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  width: 700px;
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-color: white;
  background-size: cover;
  border: 1px solid white;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.barrier {
  background-image: url('https://i.imgur.com/eb6Je7w.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* player image  */

.spaceShip {
  background-image: url('https://i.imgur.com/btRpKhI.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 150%;
}

/* Rocket Image */

.rocket {
  background-image: url('https://i.imgur.com/DnhvvaA.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.explosion {
  background-image: url('https://i.imgur.com/0yPqwlw.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* Alien Images*/

.alien {
  background-image: url('https://i.imgur.com/qSTL5kW.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index:2;
}

.alienRocket {
  background-image: url('https://i.imgur.com/xkBLuzD.png');
  background-repeat: no-repeat;
  background-size: 50%;
  cursor: pointer;
}

/* End Game */

#endGame-wrapper-loss {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#endGame-wrapper-win {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.end-game {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 250px;
  border: 1px solid white;
  background-image: url(https://i.imgur.com/qSTL5kW.png);
  background-repeat: repeat;
  background-size: 100px;
  cursor: pointer;
  padding-top: 36px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#speaking-loss {
  padding: 10px;
  /* margin-bottom: 25px; */
  height: 59px;
  margin-top: 0;
  margin-bottom: 44px;
}

/* #score-loss{

} */

.alien-speaking{
  background-color: rgb(236, 98, 98);
  text-align: center;
  padding: 5px;
}

.end-score {
  background-color: rgb(215, 46, 4);
  margin-left: 5px;
  text-align: center;
}

.restart {
  background-color: rgb(242, 116, 20);
}

.bottom-end{
  width: 250px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(242, 116, 20);
  margin-bottom: 36px;
  align-items: center;
}
/* score and lives */

#score-lives-start {

  width: 100px;
  text-align: center;
  margin: 5px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

#scorep {
  color: white;
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  width: 70px;
  height:40px;
  font-weight: bold;
}

#livesp {
  color: white;
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  font-weight: bold;
  width: 70px;
  height:40px;
}

#start {
  color: white;
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  font-weight: bold;
  width: 50px;
  margin-bottom: 15px;
}

/* start */
#start-spiral .five {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: none;
  background-color: red;
  border:none;
  text-align: center;
  height: 50%;
}

h1 {
  margin: 0;
  color: rgb(237, 55, 10);
  background-position: center;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  padding-left: 40px;
  padding-right: 40px;
  /* border: solid 3px red */
}

#greeting {
  color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    margin-bottom:5px;
    
}

/* star decor */

.star-spiral {
  width: 100%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 10px
}
.star-spiral > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.star {
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  width: 20vw;
  height: 20vh;
}

.one {
  height: 100%;
  width: 100%;
}

.two{
  height: 86%;
  width: 86%;
}

.three {
  height: 72%;
  width: 72%;
}

.four {
  height: 58%;
  width: 58%;
}

.five{
  height: 44%;
  width: 44%;
}

.six{
  height: 30%;
  width: 30%;
}

