* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
}

.game {

  display: grid;
  justify-items: center;
  align-items: center;
}

.game > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  width: 700px;
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  border: 1px solid white;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

/* player image  */

.spaceShip {
  background-image: url('http://clipart-library.com/images/kcKboL5cj.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Rocket Image */

.rocket {
  background-image: url('https://www.pinclipart.com/picdir/middle/62-625813_missile-clipart-transparent-space-invaders-missile-png.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

/* Alien Images*/

.alien {
  background-image: url('https://cdn.imgbin.com/5/7/6/imgbin-space-invaders-extreme-2-video-games-space-invaders-yRdC4SVjNzxXue92Zg3GyZD0J.jpg');
  background-repeat: no-repeat;
  z-index: 2;
  background-size: contain;
  cursor: pointer;
}

.alienRocket {
  background-image: url('https://3.bp.blogspot.com/-55OrfrFaa_c/UBY_exuEVqI/AAAAAAAAGzQ/Oy-JvgAM9ak/s1600/Boxer+Dog+Wallpapers+5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

/* stars
.star {
  background-image: url('https://images.unsplash.com/photo-1542665174-31db64d7e0e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 0;
} */

/* End Game */

.endGame-wrapper {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.end-game {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30vh;
    width: 30vw;
    border: 1px solid white;
    background-color: rgb(210, 14, 14);
}

/* score and lives */

#score-lives-start {

  width: 350px;
  text-align: center;
  margin: 5px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

#start-div{
  text-align: left;
  background-color: blueviolet;
  padding: 0,0,0,20;
}

#score-div{
  text-align: right;
  background-color: darkturquoise;
}

#lives-div {
  text-align: center;
  background-color: rgb(0, 211, 200);
  font-weight: bold;
}

#score {
  color: red;
  background-color: white;
  text-align: left;
}

#lives {
  color: green;
  background-color: white;
}

h2 {
  font-weight: bold;
  color: deepskyblue;
}

/* star decor */

.star-spiral {
  width: 100%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 10px
}
.star-spiral > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.star {
  background-image: url('https://images.pexels.com/photos/7373776/pexels-photo-7373776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  width: 20vw;
  height: 20vh;
}

.one {
  height: 100%;
  width: 100%;
}

.two{
  height: 86%;
  width: 86%;
}

.three {
  height: 72%;
  width: 72%;
}

.four {
  height: 58%;
  width: 58%;
}

.five{
  height: 44%;
  width: 44%;
}

.six{
  height: 30%;
  width: 30%;
}

